# Server Port Configuration
PORT=3000

# CMS GitHub Integration (Server-side secrets)
CMS_GITHUB_REPO=
CMS_GITHUB_BRANCH=
CMS_GITHUB_TOKEN=

# Keystatic GitHub Authentication Integration
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
GITHUB_PAT=
